@import "tailwindcss";

@theme {
  --color-bg: #05070a;
  --color-bg-alt: #0b0f14;
  --color-brand-blue: #2E7CF6;
  --color-brand-green: #39FF6A;
  --font-sans: var(--font-inter), sans-serif;
  --font-heading: var(--font-heading), sans-serif;
}

body {
  background-color: #05070a;
}

::selection {
  background-color: #39ff6a;
  color: #05070a;
}
